<!--
<div class="card-list" ng-style="ctrl.gridLenght">
    <div class="card card-gallery item-text-wrap" ng-repeat="item in ctrl.ofertas.data | filter:search">
        <div class="card-label flame-bg">
            <i class="icon ion-clock"></i> Válido até {{item.validade | date:'dd/MM/yyyy'}}
        </div>
        <div class="ink padding">
            <span class="title">{{item.anunciante.razao}}</span>
            <img class="full-image" src="{{item.imagem || 'img/ionic.png'}}">
        </div>
        <div class="card-header">
            <h2 class="balanced">{{item.descricao}}</h2>
            <div class="price text-right">
                <strong>{{item.valor | currency:'R$'}}</strong>
                <i class="icon ion-flame"></i>
            </div>
        </div>
    </div>
</div>-->
<div class="list">
    <div class="card" ng-repeat="item in ctrl.ofertas.data | filter:search">
        <a class="item item-thumbnail-left">
            <img src="{{item.imagem || 'img/ionic.png'}}">
            <h2>{{item.descricao}}</h2>
            <p>{{item.anunciante.razao}}</p>
            <p class="text-right">
                <strong>{{item.valor | currency:'R$'}}</strong>
                <i class="icon ion-flame"></i>
            </p>
        </a>
    </div>
</div>