<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-content class="my-menu">
            <div class="user-list">
                <div class="item item-avatar">
                    <div class="item-image calm-bg">{{$root.user.nome.charAt(0)}}</div>
                    <h2>{{$root.user.nome}}</h2>
                    <p>Bem vindo</p>
                </div>
            </div>    
            <div class="list">  
                <div class="slide-right-left" ng-class="{reverse: ahead}" ng-switch="selections[selections.length-1]">                       
                    <div ng-switch-default>     
                        <a class="item item-icon-left" menu-close href="#/app/dashboard">
                            <i class="icon icon-small ion-clipboard"></i>
                            Dashboard
                        </a>
                        <a class="item item-icon-left" menu-close href="#/app/marcadores">
                            <i class="icon icon-small ion-pricetags"></i>
                            Marcadores
                        </a>
                        <a class="item item-icon-left" menu-close href="#/app/despesas">
                            <i class="icon icon-small ion-edit"></i>
                            Lançamentos
                        </a>
                        <a class="item item-icon-left item-icon-right" ng-if="marcadores.data.length" ng-click="openSub('rel')">
                            <i class="icon icon-small ion-ios-calculator"></i>
                            <i class="icon icon-small ion-chevron-right"></i>
                            Despesas
                        </a>                        
                        <a class="item item-icon-left" menu-close href="#/app/config">
                            <i class="icon icon-small ion-gear-b"></i>
                            Configuração
                        </a>
                    </div>
                    <div ng-switch-when="rel">
                        <back-button title="Voltar" go-back="goBack()"></back-button>
                        <a class="item item-icon-left" ng-repeat="item in marcadores.data track by $index" menu-close href="#/app/despmarcador/{{item.id}}">
                            <i class="icon icon-small ion-pricetag"></i>
                            {{item.descricao}}
                        </a>
                    </div>            
                </div>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
