<ion-view view-title="Finances Together">
    <ion-slide-box class="calm-bg" show-pager="false" ng-init="disableSlide()" active-slide="actualSlide">
        <ion-slide>
            <h3>Bem vindo ao Finances Together!</h3>
            <div id="logo">
                <i class="icon icon-xlarge ion-arrow-graph-up-right"></i>
            </div>
            <p>
                Para ter sucesso no casamento e nos negócios, a vida financeira tem que estar em equilíbrio.
            </p>
            <div class="bottom">
                <button type="button" class="button button-icon button-calm" ng-click="slideTo(1)">
                    Próximo <i class="icon ion-arrow-right-a"></i>
                </button>
            </div>
        </ion-slide>
        <ion-slide>
            <h3>Juntos somos mais fortes</h3>
            <div id="logo">
                <i class="icon icon-xlarge ion-android-share-alt"></i>
            </div>
            <p>
                O Finances Together é uma maneira inteligente para economizar e enriquecer em conjunto.
            </p>
            <p>
                Vamos começar?
            </p>
            <div class="bottom">
                <button type="button" class="button button-icon button-calm" ng-click="slideTo(2)">
                    Próximo <i class="icon ion-arrow-right-a"></i>
                </button>
            </div>
        </ion-slide>
        <ion-slide>
            <form name="cadForm" novalidate ng-submit="validate(cadForm)">
                <ion-content class="padding">
                <h3>Fale sobre você...</h3>
                <div id="logo">
                    <i class="icon icon-xlarge ion-help-circled"></i>
                </div>
                <div class="list padding-top">
                    <label class="item item-input" ng-class="{'has-errors': cadForm.nome.$dirty && cadForm.nome.$invalid, 'no-errors': cadForm.nome.$valid}">
                        <input type="text" name="nome" placeholder="Nome completo" ng-model="$root.user.nome" required minlength="2" maxlength="80">
                    </label>
                    <label class="item item-input" ng-class="{'has-errors': cadForm.email.$dirty && cadForm.email.$invalid, 'no-errors': cadForm.email.$valid}">
                        <input type="email" name="email" placeholder="E-mail" ng-model="$root.user.email" required>
                    </label>
                    <label class="item item-input" ng-class="{'has-errors': cadForm.login.$dirty && cadForm.login.$invalid, 'no-errors': cadForm.login.$valid}">
                        <input type="text" name="login" placeholder="Login" ng-model="$root.user.id" required ng-pattern="^@?(\w){3,20}$">
                    </label>
                    <label class="item item-input" ng-class="{'has-errors': cadForm.senha.$dirty && cadForm.senha.$invalid, 'no-errors': cadForm.senha.$valid}">
                        <input type="password" name="senha" placeholder="Senha" ng-model="$root.user.senha" required minlength="4" maxlength="30">
                    </label>
                </div>
                </ion-content>
                <div class="bottom">
                    <button type="submit" class="button button-icon button-calm">
                        <i class="icon ion-checkmark"></i> Concluir
                    </button>
                </div>
            </form>
        </ion-slide>
    </ion-slide-box>
</ion-view>