<ion-view view-title="Dashboard" cache-view="false">
    <ion-nav-bar class="bar-calm">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-android-menu" menu-toggle="left"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="list card" ng-if="mesAtual.length">
            <div class="item ">
<!--                <div class="item-image calm-bg">{{$root.listaMes[mesAtual[0].mes].charAt(0)}}</div>-->
                <h2 class="calm">Mês Atual</h2>
                <p>{{$root.listaMes[mesAtual[0].mes]}}, {{mesAtual[0].ano}}</p>
            </div>

            <div class="item">
                <div class="item-set" ng-repeat="item in mesAtual track by $index">
                    <div class="item-right {{item.class}}">
                        {{item.valor | currency:"R$"}} <i class="icon icon-small {{item.icon}}"></i>
                    </div>
                    <div class="marcadores">
                        <span class="marcador bg-gray" ng-repeat="mark in item.marcadores">
                            {{marcadores.getById(mark).descricao}}
                        </span>
                    </div>
                </div>
            </div>
            
            <div class="item calm">
                <span class="item-right">Total: {{mesAtual.compute({ $sum: "valor"}).valor | currency:"R$"}}</span>
            </div>
        </div>
        
        <div class="list card" ng-if="mesAnterior.length">
            <div class="item">
<!--                <div class="item-image calm-bg">{{$root.listaMes[mesAnterior[0].mes].charAt(0)}}</div>-->
                <h2 class="calm">Mês Anterior</h2>
                <p>{{$root.listaMes[mesAnterior[0].mes]}}, {{mesAnterior[0].ano}}</p>
            </div>

            <div class="item">
                <div class="item-set" ng-repeat="item in mesAnterior track by $index">
                    <div class="item-right">
                        {{item.valor | currency:"R$"}}
                    </div>
                    <div class="marcadores">
                        <span class="marcador bg-gray" ng-repeat="mark in item.marcadores">
                            {{marcadores.getById(mark).descricao}}
                        </span>
                    </div>
                </div>
            </div>
            
            <div class="item calm">
                <span class="item-right">Total: {{mesAnterior.compute({ $sum: "valor"}).valor | currency:"R$"}}</span>
            </div>
        </div>
    </ion-content>
</ion-view>