<ion-view view-title="Dashboard" cache-view="false">
    <ion-nav-bar class="bar-calm">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-android-menu" menu-toggle="left"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="list card" ng-if="!mesAtual.length && !mesAnterior.length">
            <div class="item item-icon-left item-divider">
                <i class="icon icon-small ion-arrow-graph-up-right"></i>
                Começando...
            </div>
            <div class="item item-text-wrap">
                <p>
                    Acesse o menu lateral <i class="icon ion-android-menu calm"></i> e cadastre seus marcadores para categorizar suas depesas.
                </p>
                <p>
                    Em seguida lance suas despesas marcando cada uma delas com os marcadores cadastrados.
                </p>
            </div>
        </div>
        
        <donate name="paypal" lnk-class="calm" template="./app/templates/donate.html"></donate>
        
        <div class="list card" ng-if="mesAtual.length">
            <div class="item ">
                <h2 class="calm">Mês Atual</h2>
                <p>{{$root.listaMes[mesAtual[0].mes]}}, {{mesAtual[0].ano}}</p>
            </div>

            <div class="item">
                <div class="item-set" ng-repeat="item in mesAtual track by $index">
                    <div class="item-right">
                        {{item.valor | currency:"R$"}}
                    </div>
                    <div class="marcadores">
                        <span class="marcador bg-gray" ng-click="goTo(mark)">
                            {{marcadores.getById(item.marcadorId).descricao}}
                        </span>
                    </div>
                </div>
            </div>
            
            <div class="item calm">
                <span class="item-right">Total: {{mesAtual.compute({ $sum: "total"}).total | currency:"R$"}}</span>
            </div>
        </div>
        
        <div class="list card" ng-if="mesAnterior.length">
            <div class="item">
                <h2 class="calm">Mês Anterior</h2>
                <p>{{$root.listaMes[mesAnterior[0].mes]}}, {{mesAnterior[0].ano}}</p>
            </div>

            <div class="item">
                <div class="item-set" ng-repeat="item in mesAnterior track by $index">
                    <div class="item-right">
                        {{item.valor | currency:"R$"}}
                    </div>
                    <div class="marcadores">
                        <span class="marcador bg-gray" ng-click="goTo(mark)">
                            {{marcadores.getById(item.marcadorId).descricao}}
                        </span>
                    </div>
                </div>
            </div>
            
            <div class="item calm">
                <span class="item-right">Total: {{mesAnterior.compute({ $sum: "total"}).total | currency:"R$"}}</span>
            </div>
        </div>
    </ion-content>
</ion-view>