<ion-view view-title="Lista de compra" class="material-bg">
    <ion-nav-bar class="bar-energized" align-title="left">
        <ion-nav-back-button class="no-text"></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="animate-fade-slide-in">
        <div class="padding">
            <div class="list list-inset">
                <div class="item item-icon-left in done" ng-if="!ctrl.lista.data.length">
                    <i class="icon icon-small ion-alert"></i> Lista vázia
                </div>
                <div class="item item-avatar-right item-checkbox" ng-repeat="item in ctrl.lista.data | orderBy:'selected' track by item.id" ng-class="{'item-marked': item.selected}">
                    <img ng-src="{{$root.getImage(item)}}">
                    <h2>{{item.descricao}}</h2>
                    <p>{{item.anunciante.nome}}</p>
                    <label class="checkbox checkbox-assertive">
                        <input type="checkbox" ng-model="item.selected" ng-change="ctrl.save(item)">
                    </label>
                </div>
            </div>
            
            <div ng-if="ctrl.lista.data.length">
                <p class="padding-bottom">
                    <span class="item-note item-price">
                        Total: {{ctrl.lista.data.compute({ $sum: 'valor'}).valor}}
                    </span>
                </p>
                
                <button class="button button-block button-energized-900" ng-click="ctrl.clearSelecteds()">
                    <i class="icon ion-trash-a"></i> Limpar selecionados
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>