.my-menu {
    border-color: #333;
    background-color: #444;
    color: #fff;
}

.my-menu .item:not(.sub-item), .my-menu .item-content, .my-menu .item-complex {
    background-color: rgba(0,0,0,0);
}

.my-menu .item {
    border: none;
}

.my-menu .sub-item {
    background-color: rgba(255,255,255,0.1);
    padding: 7px 0 12px 15%;
    font-size: 97%;
}

.my-menu .sub-item:before {
    content: ">";
    position: relative;
    top: 0;
    font-size: 100%;
}

.my-menu .list .item {
    border-bottom: 1px solid #333;
}

.my-menu .list .item:first-child {
    border-top: 1px solid #333;
}

.user-list {
    margin: 10px;
}

.user-list h2, .user-list p {
    color: #f0f0f0;
}

.user-list h2 {
    font-weight: bold;
    text-overflow: ellipsis;
}

.bottom {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 10px;
}

.bottom .button-icon i.icon {
    vertical-align: sub;
}

.icon-small {
    font-size: 19px !important;
}

.icon-xlarge {
    font-size: 520% !important;
}

.ion-equal:before {
    content: "=";
}

.item-avatar .item-image {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 35px;
}

.marcadores {
    overflow: hidden; 
    white-space: normal;
}

.marcador {
    display: inline-block;
    max-width: 100%;   
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    color: #fff;
    padding: 1px 2px;
    border-radius: .4em;
    margin-right: 2px;
}

.bg-gray {
    background-color: #999;
}

.bold {
    font-weight: bold;
}

.justify {
    text-align: justify;
}

.item-text-wrap p {
    margin-bottom: 10px;
}

.item-right {
    float: right;
    font-size: 14px;
}

label.item p i.icon {
    margin-top: -8px;
}

.item-set {
    margin: .1em 0;
    line-height: 1em;
}

.item-set i.icon:not(.ion-equal) {
    position: relative;
    top: 2px;
}

.slider {
    height: 100%;
}

.slider-slide {
    padding: 20px;
    color: #fff;
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

.slider-slide h3, .slider-pager .slider-pager-page {
    color: #fff;
}

.slider-pager {
    bottom: 15px;
}

#logo {
    margin: 30px 0px;
}

.no-errors {
    border-bottom: 3px solid green !important;
}

.has-errors {
    border-bottom: 3px solid #B83E2C !important;
}

.slide-right-left-container {
    position: relative;
}

.slide-right-left.ng-animate {
	-webkit-transition:all ease-in-out 250ms;
	transition:all ease-in-out 250ms;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0
}

.slide-right-left-container.reverse .slide-right-left.ng-enter,
.slide-right-left-container .slide-right-left.ng-leave.ng-leave-active {
    left: 100%;
}

.slide-right-left-container.reverse .slide-right-left.ng-enter.ng-enter-active,
.slide-right-left-container .slide-right-left.ng-enter.ng-enter-active {
    left: 0;
}

.slide-right-left-container.reverse .slide-right-left.ng-leave.ng-leave-active,
.slide-right-left-container .slide-right-left.ng-enter {
    left: -100%
}