.my-menu {
    border-color: #333;
    background-color: #444;
    color: #fff;
}

.my-menu .item, .my-menu .item-content, .my-menu .item-complex {
    background-color: rgba(0,0,0,0);
}

.my-menu .item {
    border: none;
}

.my-menu .padding.list .item {
    border-bottom: 1px solid #333;
}

.my-menu .padding.list .item:first-child {
    border-top: 1px solid #333;
}

.user-list {
    margin: 10px;
}

.user-list h2, .user-list p {
    color: #f0f0f0;
}

.user-list h2 {
    font-weight: bold;
    text-overflow: ellipsis;
}

.icon-small {
    font-size: 19px !important;
}

.ion-equal:before {
    content: "=";
}

.item-avatar .item-image {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 35px;
}

.marcadores {
    overflow: hidden; 
    white-space: normal;
}

.marcador {
    display: inline-block;
    max-width: 100%;   
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 11px;
    color: #fff;
    padding: 0 2px 1px 2px;
    border-radius: 3px;
    margin-right: 2px;
}

.bg-gray {
    background-color: #999;
}

.bg-red {
    background-color: #ef473a;
}

.bg-blue {
    background-color: #4a87ee;
}

.bold {
    font-weight: bold;
}

.item-right {
    float: right;
    font-size: 14px;
}

label.item p i.icon {
    margin-top: -8px;
}

.set {
    margin: .2em 0;
    padding-top: 0.25em;
    border-radius: 3px;
    margin-right: 2px;    
}