.my-menu {
    border-color: #333;
    background-color: #555;
    color: #fff;
}

.my-menu .item, .my-menu .item-content, .my-menu .item-complex {
    background-color: rgba(0,0,0,0);
}

.icon-small {
    font-size: 18px !important;
}

.item-avatar .item-image {
    color: #fff;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 38px;
    font-size: 18px;
    font-weight: 500;
    padding-top: 1px;
}

.w70, .w75, .w80, .w85 {
    text-overflow: ellipsis;
}

.w70 {
    max-width: 70%;
}

.w75 {
    max-width: 75%;
}

.w80 {
    max-width: 80%;
}

.w85 {
    max-width: 85%;
}

.ojs-form input.ng-invalid.ng-touched {
    background-color: #FA787E;
}

.ojs-form input.ng-valid.ng-touched {
    background-color: #FFF;
}

ojs-select .item span:last-child {
    float: right;
    font-size: 14px;
    max-width: 75%;
    text-overflow: ellipsis;
}