<ion-view cache-view="false" view-title="Chamada">
    <ion-nav-bar class="bar-balanced">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="right">
            <button class="right button button-icon ion-android-add" ng-click="newChamada($event)"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div ng-if="celula && celula.membros.length > 0">
            <ojs-list is-empty="chamadas.data.length === 0">
                <div class="item" collection-repeat="item in chamadas.data | orderBy:'-data'" on-double-tap="showMenu(item, $event)">
                    {{item.data | date:'dd/MM/yyyy'}}
                    <span class="item-note">{{countPresents(item)}} pessoa(s)</span>
                </div>
            </ojs-list>
        </div>
        
        <div class="list list-inset" ng-if="!celula || celula.membros.length === 0">
            <div class="item item-divider">
                Sua célula ainda não foi cadastrada
            </div>
            <div class="item">
                <a href="#/app/celula" class="button button-balanced ion-android-add">
                    Cadastrar célula
                </a>
            </div>
        </div>
        
        <ojs-pop-menu name="menu" template="./app/views/templates/ojs-popmenu.html"></ojs-pop-menu>
        <ojs-modal name="frmVisitante" template="./app/views/chamadas/visitante.html"></ojs-modal>
    </ion-content>
    
    <ojs-modal name="form" template="./app/views/chamadas/cadastro.html"></ojs-modal>
</ion-view>
