<ion-view cache-view="false" view-title="Chamada">
    <ion-nav-bar class="bar-balanced">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="right">
            <button class="right button button-icon ion-android-add" ng-click="newChamada()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div ng-if="celula">
            <ojs-list is-empty="chamadas.data.length === 0">
                <div class="item" collection-repeat="item in chamadas.data" on-hold="showMenu(item, $event)">
                    {{item.data}}
                </div>
            </ojs-list>
            
            <div class="padding">
                <div class="item item-icon-left" ng-if="chamadas.data.length > 0">
                    <p>
                        <i class="icon icon-small ion-information-circled"></i>
                        <span>Toque e segure para editar, excluir...</span>
                    </p>
                </div>
            </div>
        </div>
        
        <div class="padding" ng-if="!celula">
            <div class="item item-icon-left">
                <p>
                    <i class="icon icon-small ion-information-circled"></i>
                    <span>Você deve cadastrar sua célula primeiro.</span>
                </p>
            </div>
        </div>
        
    </ion-content>
    <ojs-modal name="form" template="app/views/chamadas/cadastro.html"></ojs-modal>
</ion-view>
