<ojs-form title="Cadastrar Contato" save-record="saveItem(selection)" close-form="modal.hide()">
    <label class="item item-input">
        <input type="text" placeholder="Nome completo" ng-model="selection.nome">
    </label>
    <label class="item item-input">
        <input type="text" placeholder="Endereço" ng-model="selection.endereco">
    </label>
    <label class="item item-input">
        <input type="number" placeholder="Número" ng-model="selection.numero">
    </label>
    <label class="item item-input">
        <input type="text" placeholder="Bairro" ng-model="selection.bairro">
    </label>
    <label class="item item-input">
        <input type="text" placeholder="Cidade" ng-model="selection.cidade">
    </label>
    <label class="item item-input">
        <input type="tel" placeholder="Telefone" ng-model="selection.telefone">
    </label>
    <label class="item item-input">
        <input type="date" placeholder="Data nascimento" ng-model="selection.datanasc" format-date>
    </label>
</div>
