<ion-view view-title="Contatos">
    <ion-nav-bar class="bar-assertive">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="right">
            <button class="right button button-icon ion-android-add" ng-click="newItem()"></button>
            <button class="right button button-icon ion-android-refresh" ng-click="import()"></button>
        </ion-nav-buttons>
    </ojs-nav-bar>
    <ion-content>
        <div class="list list-inset" ng-if="aniversariantes.length > 0">
            <div class="item item-divider">
                <i class="icon icon-small ion-android-star"></i>
                Aniversáriantes do mês
            </div>
            <div class="item" ng-repeat="contato in aniversariantes">
                {{contato.nome}}
                <span class="item-note">{{contato.datanasc | date: 'dd/MM/yyyy'}}</span>
            </div>
        </div>
        
        <ojs-list is-empty="contatos.data.length === 0">
            <div class="item" collection-repeat="item in contatos.data" on-hold="showMenu(item, $event)">
                {{item.nome}}
                <span class="item-note">{{item.telefone}}</span>
            </div>
        </ojs-list>
        
        <div class="padding" ng-if="contatos.data.length > 0">
            <div class="item item-icon-left">
                <p>
                    <i class="icon icon-small ion-information-circled"></i>
                    <span>Toque e segure para editar, excluir...</span>
                </p>
            </div>
        </div>
    </ion-content>
    
    <ojs-modal name="form" template="./app/views/contatos/cadastro.html"></ojs-modal>
    <ojs-pop-menu name="menu" template="./app/views/ojs-popmenu.html"></ojs-pop-menu>
</ion-view>
