<ion-view view-title="Contatos">
    <ion-nav-bar class="bar-assertive">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="right">
            <button class="right button button-icon ion-android-add" ng-click="newItem()"></button>
            <button class="right button button-icon ion-android-contacts" ng-click="import()"></button>
            <button class="right button button-icon ion-help-circled" ng-click="donate.openModal()" ion-stop-event="click"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="list list-inset" ng-if="aniversariantes.length > 0">
            <div class="item item-divider">
                <i class="icon icon-small ion-icecream"></i>
                Aniversáriantes do mês
            </div>
            <div class="item" ng-repeat="contato in aniversariantes">
                <span class="float-left w65">{{contato.nome}}</span>
                <span class="item-note">{{contato.datanasc | date: 'dd/MM/yyyy'}}</span>
            </div>
        </div>
        
        <ojs-list is-empty="contatos.data.length === 0">
            <div class="item item-avatar" collection-repeat="item in contatos.data" on-double-tap="showMenu(item, $event)">
                <div class="item-image assertive-bg">{{item.nome.charAt(0)}}</div>
                <h2>{{item.nome}}</h2>
                <p>{{item.telefone}}</p>
            </div>
        </ojs-list>
        
<!--
        <div class="padding" ng-if="contatos.data.length > 0">
            <div class="item item-icon-left">
                <p>
                    <i class="icon icon-small ion-information-circled"></i>
                    <span>Toque e segure para editar, excluir...</span>
                </p>
            </div>
        </div>
-->
        
        <ojs-pop-menu name="menu" template="./app/views/contatos/popmenu.html"></ojs-pop-menu>
    </ion-content>

    <ojs-modal name="form" template="./app/views/contatos/cadastro.html"></ojs-modal>
    <ojs-modal name="donate" template="./app/views/donate.html"></ojs-modal>
</ion-view>
