<ion-popover-view style="height: {{(56 * 3) + 'px'}}">
    <ion-content>
        <div class="list">
            <a class="item item-icon-left" ng-click="editItem()">
                <i class="icon ion-android-create"></i>
                Editar
            </a>
            <a class="item item-icon-left" ng-click="deleteItem()">
                <i class="icon ion-trash-a"></i>
                Excluir
            </a>
            <a class="item item-icon-left" href="tel:{{selection.telefone}}">
                <i class="icon ion-android-call"></i>
                Chamar
            </a>
        </div>
    </ion-content>
</ion-popover-view>