<ion-view view-title="Marcadores">
    <ion-nav-bar class="bar-calm">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-plus-round" ng-click="newItem()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="list">
            <div class="item" ng-if="marcadores.count() === 0">
                Toque <i class="icon ion-plus-round"></i> para incluir...
            </div>
            <div class="item" collection-repeat="item in marcadores.data()" on-double-tap="menu.openMenu(item, $event)">
                {{item.descricao}}
            </div>
        </div>
        <ojs-popover name="menu" template="./app/templates/popovermenu.html"></ojs-popover>
    </ion-content>
</ion-view>