<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-view name="fabContent"></ion-nav-view>
        <ion-nav-view name="pageContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="material-bg expanded">
            <h2>Offer's App</h2>
        </ion-header-bar>
        <ion-content class="stable-bg has-expanded-header">
            <div class="list">
                <div class="item" menu-close ng-click="ctrl.goTo('app.mylist')">
                    Minha lista
                </div>
                <div class="item" menu-close ng-repeat="item in ctrl.categorias.data" ng-click="ctrl.goTo({ id: item.id })">
                    {{item.nome}}
                </div>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>