<div class="modal">
    <ion-header-bar class="bar-assertive">
        <h1 class="positive title">Colabore</h1>
        <button class="positive right button button-icon ion-android-close" ng-click="donate.closeModal()"></button>
    </ion-header-bar>
    <ion-content>
        <div class="list list-inset">
            <div class="item item-body">
                <h2 class="assertive">Ajude-nos a manter o aplicativo grátis</h2>
                <p>
                    Você pode doar quando quiser, faça parte deste projeto.
                </p>
            </div>
            
            <div class="item">
                Para doar R$ 1,00
                <input type="image" src="img/btn_donate.gif" border="0" name="submit" class="float-right" ng-click="goDonate($event)" data-action="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=TCG4ULCARSP3Q">
                <img alt="" border="0" src="img/pixel.gif" width="1" height="1">
            </div>
            
            <div class="item">
                Para doar outro valor
                <input type="image" src="img/btn_donate.gif" border="0" name="submit" class="float-right" ng-click="goDonate($event)" data-action="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=4QAFPKWJ2AD46">
                <img alt="" border="0" src="img/pixel.gif" width="1" height="1">
            </div>

        </div>
    </ion-content>
</div>
