<div class="modal">
    <ion-header-bar>
        <h1 class="title">{{title}}</h1>
        <button class="right button button-icon ion-android-close" ng-click="closeForm()"></button>
    </ion-header-bar>
    <ion-content>
        <form name="ojsForm" ng-submit="saveRecord(record)" class="ojs-form">
            <div class="list list-inset">
                <ng-transclude></ng-transclude>
            </div>
            <div class="padding">
                <button type="submit" class="button">Confirmar</button>
                <button type="button" class="button button-stable" ng-click="closeForm()">Cancelar</button>
            </div>
        </form>        
    </ion-content>
</div>
