<ion-view cache-view="false" view-title="Trilho">
    <ion-nav-bar class="bar-energized">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="right">
            <button class="right button button-icon ion-android-add" ng-click="newTrilho($event)"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="list list-inset">
            <div class="item item-divider">
                Ajude-nos a manter o projeto
            </div>
            <div class="item">
                Clique <a href="#" class="energized" ng-click="donate.openModal()">aqui</a> para ajudar.
            </div>
        </div>
        
        <div ng-if="celula && celula.membros.length > 0">
            <ojs-list is-empty="trilhos.data.length === 0">
                <div class="item" collection-repeat="item in trilhos.data" on-double-tap="showMenu(item, $event)">
                    <span class="float-left w75">{{contatos.getById(item.membroId).nome}}</span>
                    <span class="item-note">{{countAttr(item.id)}}/{{atributos.length}}</span>
                </div>
            </ojs-list>
        </div>
        
        <div class="list list-inset" ng-if="!celula || celula.membros.length === 0">
            <div class="item item-divider">
                Sua célula ainda não foi cadastrada
            </div>
            <div class="item">
                <a href="#/app/celula" class="button button-energized ion-android-add">
                    Cadastrar célula
                </a>
            </div>
        </div>
        
        <ojs-pop-menu name="menu" template="./app/views/templates/ojs-popmenu.html"></ojs-pop-menu>
    </ion-content>
    
    <ojs-modal name="donate" template="./app/views/donate.html"></ojs-modal>
    <ojs-modal name="form" template="./app/views/trilhos/cadastro.html"></ojs-modal>
</ion-view>