<ojs-form title="Cadastrar Célula" hide-modal="hideModal()" save-record="saveItem(selection)">
    <label class="item item-input">
        <input type="text" placeholder="Nome" ng-model="selection.nome">
    </label>
    <label class="item item-input item-select">
        <div class="input-label">
            Dia
        </div>
        <select ng-model="selection.dia">
            <option ng-repeat="dia in dias" ng-value="dia.id" ng-selected="dia.id == selection.dia">
                {{dia.nome}}
            </option>
        </select>
    </label>
    <label class="item item-input item-select">
        <div class="input-label">
            Líder
        </div>
        <select ng-model="selection.lider">
            <option ng-repeat="contato in contatos" ng-value="contato.id" ng-selected="contato.id == selection.lider">
                {{contato.nome}}
            </option>
        </select>
    </label>
    <label class="item item-input item-select">
        <div class="input-label">
            Anfitrião
        </div>
        <select ng-model="selection.anfitriao">
            <option ng-repeat="contato in contatos" ng-value="contato.id" ng-selected="contato.id == selection.anfitriao">
                {{contato.nome}}
            </option>
        </select>
    </label>
</ojs-form>