<ojs-form title="Cadastrar Célula" save-record="saveCelula(celula)" close-form="$ojsModal.remove()">
    <label class="item item-input">
        <input type="text" placeholder="Nome" ng-model="celula.nome">
    </label>
    <label class="item item-input item-select">
        <div class="input-label">
            Dia
        </div>
        <select ng-model="celula.dia">
            <option ng-repeat="dia in dias" ng-value="dia.id" ng-selected="dia.id == celula.dia">
                {{dia.nome}}
            </option>
        </select>
    </label>
    <label class="item item-input item-select">
        <div class="input-label">
            Líder
        </div>
        <select ng-model="celula.lider">
            <option ng-repeat="contato in contatos" ng-value="contato.id" ng-selected="contato.id == celula.lider">
                {{contato.nome}}
            </option>
        </select>
    </label>
    <label class="item item-input item-select">
        <div class="input-label">
            Anfitrião
        </div>
        <select ng-model="celula.anfitriao">
            <option ng-repeat="contato in contatos" ng-value="contato.id" ng-selected="contato.id == celula.anfitriao">
                {{contato.nome}}
            </option>
        </select>
    </label>
</ojs-form>