<ion-view cache-view="false" view-title="Estatísticas" hide-tabs>
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button class="button-clear">
            <i class="icon ion-ios-arrow-left"></i>Voltar
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <div class="list list-inset">
            <div class="item">
                <h1>{{celula.nome}}</h1>
                <p>
                    {{contatos.getById(celula.lider).nome}}
                </p>
                <p>
                    {{celula.membros.length}} membros
                </p>
            </div>
            
            <div class="item">
                <p>
                    <span class="subdued">
                        <i class="icon ion-android-calendar"></i> Multiplicação: <span class="float-right">{{celula.datamulti | date:'dd/MM/yyyy'}}</span>
                    </span>
                </p>
                <p>
                    <span class="subdued">
                        <i class="icon ion-cash"></i> Média de ofertas: <span class="float-right">{{estat.ofertas | currency:"R$"}}</span>
                    </span>
                </p>
                <p>
                    <span class="subdued">
                        <i class="icon ion-person"></i> Média de visitantes: <span class="float-right">{{estat.visitantes | currency:"":1}}</span>
                    </span>
                </p>
            </div>

            <div class="padding-top" ng-if="estat.osmais.length">
                <div class="item item-divider">
                    Os mais freqüentes
                </div>

                <div class="item" ng-repeat="membro in estat.osmais">
                    {{contatos.getById(membro).nome}}
                </div>
            </div>

            <div class="padding-top" ng-if="estat.osmenos.length">
                <div class="item item-divider">
                    Os menos freqüentes
                </div>

                <div class="item" ng-repeat="membro in estat.osmenos">
                    {{contatos.getById(membro).nome}}
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>