<ion-view cache-view="false" view-title="Célula">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="right">
            <button class="right button button-icon {{celula.id ? 'ion-edit' : 'ion-android-add'}}" ng-click="frmCelula.openModal()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div ng-if="celula.id">
            <div class="list card">
                <div class="item">
                    <h2>{{celula.nome}}</h2>
                    <p>
                        {{contatos.getById(celula.lider).nome}}
                    </p>
                    <p>
                        {{contatos.getById(celula.anfitriao).endereco}}
                    </p>
                    <p>
                        <button class="button button-outline button-small button-positive" ng-click="frmCelula.openModal()">
                            Editar
                        </button>
                    </p>
                </div>

                <div class="item">
                    <p>
                        <span class="subdued">{{celula.membros.length}} membros</span>
                    </p>
                </div>
            </div>

            <div class="list card">
                <div class="item item-divider" ng-if="celula.membros.length > 0">
                    Membros
                </div>

                <div class="item item-button-right" ng-repeat="membro in celula.membros">
                    {{contatos.getById(membro).nome}}
                    <button class="button button-clear button-assertive" ng-click="deleteMembro(membro)">
                        <i class="icon ion-android-remove-circle"></i>
                    </button>
                </div>

                <a class="item item-icon-left positive" href="#" ng-click="frmMembro.openModal()">
                    <i class="icon ion-android-person-add"></i>
                    Adicionar membro
                </a>
            </div>
        </div>
        
        <div class="list card" ng-if="!celula.id">
            <div class="item item-divider">
                Sua célula ainda não foi cadastrada
            </div>
            <div class="item">
                <a href="#" class="button button-positive ion-android-add" ng-click="frmCelula.openModal()">
                    Cadastrar célula
                </a>
            </div>
        </div>
        
        <ojs-modal name="frmMembro" template="app/views/celulas/membro.html"></ojs-pop-menu>
        <ojs-modal name="frmCelula" template="app/views/celulas/cadastro.html"></ojs-modal>
    </ion-content>
</ion-view>