<ion-view view-title="Célula">
    <ion-content>
        <div ng-if="celula.id">
            <div class="list card">
                <div class="item item-avatar">
                    <img src="img/ionic.png">
                    <h2>{{celula.nome}}</h2>
                    <p>
                        <button class="button button-outline button-small button-positive" ng-click="frmCelula.openModal()">
                            Editar
                        </button>
                    </p>
                </div>

                <div class="item">
                    <p>
                        <span class="subdued">{{celula.membros.length}} membros</span>
                    </p>
                </div>
            </div>

            <div class="list card">
                <div class="item item-divider" ng-if="membros.data > 0">
                    Membros
                </div>

                <div class="item" collection-repeat="item in celula.membros">
                    {{contatos[item.id]}}
                </div>

                <a class="item item-icon-left positive" href="#" ng-click="frmMembro.openModal()">
                    <i class="icon ion-android-person-add"></i>
                    Adicionar membro
                </a>
            </div>
        </div>
        
        <div class="list card" ng-if="!celula.id">
            <div class="item item-divider">
                Sua célula ainda não foi cadastrada
            </div>
            <div class="item">
                <a href="#" class="button button-positive ion-android-add" ng-click="frmCelula.openModal()">
                    Cadastrar célula
                </a>
            </div>
        </div>
        
        <ojs-modal name="frmMembro" template="app/views/celulas/membro.html"></ojs-pop-menu>
        <ojs-modal name="frmCelula" template="app/views/celulas/cadastro.html"></ojs-modal>
    </ion-content>
</ion-view>