<div class="modal">
    <form-base title="Lançar Pagamento" save-record="saveItem(selection)" close-form="closeForm()">
        <div class="list">
            <ionic-datepicker input-obj="datepickerObject">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Vencimento</span>
                    <p>
                        <i class="icon ion-calendar"></i>
                        {{selection.vencimento | date:datepickerObject.dateFormat}}
                    </p>
                </label>
            </ionic-datepicker>
            
            <label class="item item-input item-stacked-label">
                <span class="input-label">Valor</span>
                <input type="tel" name="valor" placeholder="0,00" ng-model="selection.valor" ng-class="{'has-errors': cadForm.valor.$dirty && cadForm.valor.$invalid, 'no-errors': cadForm.valor.$valid}" required format decimals="2">
            </label>

            <div class="item item-divider">
                Marcadores
            </div>

            <div class="item item-checkbox" ng-repeat="item in marcadores.data track by $index">
                <label class="checkbox checkbox-calm">
                    <input type="checkbox" ng-checked="selection.marcadores.indexOf(item.id) >= 0" ng-click="addMark(item)">
                </label>
                {{item.descricao}}
            </div>
        </div>
    </form-base>
</div>