<ion-view view-title="Detalhes">
    <ion-nav-bar class="bar-energized" align-title="left">
        <ion-nav-back-button class="no-text"></ion-nav-back-button>
    </ion-nav-bar>
        
    <ion-content>
        <div class="hero material-bg slide-up">
            <div class="content">
                <img class="avatar" ng-src="{{$root.getImage(ctrl.oferta)}}" alt="{{ctrl.oferta.descricao}}">
                <h3><span class="light">{{ctrl.oferta.descricao}}</span></h3>
                <h4>{{ctrl.oferta.valor | currency:"R$"}}</h4>
            </div>
        </div>

        <div class="button-bar bar-dark">
            <a class="button button-icon-left ion-at" ng-click="ctrl.changeTab(0)" ng-class="{'activated':ctrl.tabIndex==0}">
                Anunciante
            </a>
            <a class="button button-icon-left ion-location" ng-click="ctrl.changeTab(1)" ng-class="{'activated':ctrl.tabIndex==1}">
                Localização
            </a>
        </div>

        <div ng-hide="ctrl.tabIndex === 1">
            <div class="list list-inset">
                <div class="item">
                    <h2>{{ctrl.oferta.usuario.nome}}</h2>
                </div>
                <div class="item item-icon-left">
                    <i class="icon icon-small ion-location"></i>
                    <p>
                        {{ctrl.oferta.usuario.endereco + ", " + ctrl.oferta.usuario.numero}}
                    </p>
                    <p>
                        {{ctrl.oferta.usuario.cidade.nome + " - " + ctrl.oferta.usuario.cidade.estado}}
                    </p>
                </div>
                <div class="item item-icon-left">
                    <i class="icon icon-small ion-clock"></i>
                    <p>Válida até {{ctrl.oferta.validade | date:"dd/MM/yyyy"}}</p>
                </div>
            </div>

            <div class="list padding">
                <button class="button button-block button-energized" ng-click="ctrl.add(ctrl.oferta)">
                    <i class="icon ion-plus"></i> Adicionar na lista
                </button>
            </div>
        </div>
        
        <div id="map" data-tap-disabled="true" ng-hide="ctrl.tabIndex === 0">
        </div>
    </ion-content>
</ion-view>