<div class="list list-card">
<!--
    <div class="item item-energized item-icon-left in done" ng-if="!ctrl.data.length">
        <i class="icon ion-alert"></i>
        <h2>Nenhuma oferta</h2>
    </div>
-->
    <div class="card-item" ng-repeat="item in ctrl.data | filter:ctrl.filter track by item.id" ng-click="ctrl.showOffer(item)">
        <div class="thumbnail">
            <img ng-src="{{$root.getImage(item)}}" alt="{{::item.descricao}}">
        </div>
        <div class="item-container">
            <h2>{{::item.descricao}}</h2>
            <h3>{{::item.usuario.nome}}</h3>
            <p>
                <span class="item-note item-price">
                    <strong>{{::item.valor | currency:'R$'}}</strong>
                    <i class="icon ion-flame"></i>
                </span>
            </p>
            <p class="notes">
                <i class="icon ion-clock"></i> Válido até {{::item.validade | date:'dd/MM/yyyy'}}
            </p>
        </div>
    </div>
</div>