<div class="list no-data" ng-if="!ctrl.data.length">
    <div class="item in done">
        <i class="icon icon-large ion-sad-outline"></i> Nenhuma oferta
    </div>
</div>

<div class="list list-card">
    <div class="card-item" ng-repeat="item in ctrl.data | filter:ctrl.filter track by item.id" ng-click="ctrl.showOffer(item)">
        <div class="thumbnail">
            <img ng-src="{{$root.getImage(item)}}" alt="{{::item.descricao}}">
        </div>
        <div class="item-container">
            <h2>{{::item.descricao}}</h2>
            <h3>{{::item.usuario.nome}}</h3>
            <p>
                <span class="item-note item-price">
                    <strong>{{::item.parcelas || 1}}x {{::item.valor | currency:'R$'}}</strong>
                    <i class="icon ion-flame"></i>
                </span>
            </p>
            <p class="notes">
                <i class="icon ion-clock"></i> Válido até {{::item.validade | date:'dd/MM/yyyy'}}
            </p>
        </div>
    </div>
</div>

<ion-infinite-scroll class="spinner-white" on-infinite="ctrl.loadMore()" distance="1%" spinner="spiral" ng-if="!ctrl.eof">
</ion-infinite-scroll>
