<ion-view view-title="Meu amor...">
    <ion-nav-buttons side="right">
        <button class="button button-assertive button-clear" ng-click="help()">
            <i class="icon ion-ios-information"></i>
        </button>
    </ion-nav-buttons>
  
    <ion-content>
        <ion-slide-box show-pager="false" on-slide-changed="slideChanged(index)">
            <ion-slide>
                <div class="list card">
                    <div class="item item-body">
                        <h2>Que dia tão especial</h2>
                        <img class="full-image" src="../img/jheny1.jpg">
                        <p>
                            Parabéns meu amor pelo seu aniversário e que Deus te abençõe em tudo que fizer.
                            Você tem sido um exemplo pra mim...
                        </p>
                    </div>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="list card">
                    <div class="item item-body">
                        <h2>Como eu te admiro</h2>
                        <img class="full-image" src="../img/jheny2.jpg">
                        <p>
                            Aprendo com você a cada dia, você é um "crente" bem melhor que eu.
                            Vejo muito Jesus em você!
                        </p>
                    </div>
                </div>
            </ion-slide>
            
            <ion-slide>
                <div class="list card">
                    <div class="item item-body">
                        <h2>Seu aniversário mais eu quem ganhei o presente</h2>
                        <img class="full-image" src="../img/mylove4.jpg">
                        <p>
                            Agradeço a Deus por ter você ao meu lado. Não sou bom em escrever como você,
                            mas sei fazer alguns códigos :)
                        </p>
                    </div>
                </div>
            </ion-slide>
            
            <ion-slide>
                <div class="list card">
                    <div class="item item-body">
                        <h2>Te amo</h2>
                        <img class="full-image" src="../img/ilove.jpg">
                        <p>
                            Eu te amo muito e você é muito importante pra mim. Com carinho, Alan Thales.
                        </p>
                    </div>
                </div>
            </ion-slide>
            
            <ion-slide>
                <div class="list card">
                    <div class="item item-body">
                        <h2>Fim</h2>
                        <img class="full-image" src="../img/last.jpg">
                    </div>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>