/* App style's */
.bar-search {
    box-shadow: none;
}

.pane[state="app.search"] .bar.bar-balanced {
    border: none;
}

.card-list {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    height: 100%;
    width: 320px;
}

.card-list .card {
    margin: 5px;
    width: 50%;
}

/* Ionic Material override's */
.card-list .card.card-gallery .title {
    position: absolute;
    background-color: #fff;
    padding: 5px;
    margin: 5px;
    color: #333;
    font-weight: bold;
}

.card-list .card.card-gallery h2, .card-list .card.card-gallery h3, .card-list .card.card-gallery h4 {
    color: #333;
    padding: 5px;
    font-size: 14px;
}

.button.button-fab.button-fab-top-right,
.button.button-fab.button-fab-top-left {
    top: 16px;
}

.bar.item-input {
    padding: 0 10px;
}

.card-gallery .full-image {
    background-color: #333;
}

.card-footer {
    padding: 0 5px;
}

/* Utilities
==================================*/
.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #555;
    margin: 0 0 25px;
}

.scroll {
    height: 100%;
}


/* Menu
==================================*/
.menu .bar.bar-header.expanded {
    transition: all .5s ease-in-out;
}

.menu-open .bar.bar-header.expanded {
    background-color: #222;
}

.menu h2 {
    bottom: 0;
    font-size: 18px;
    left: 16px;
    position: absolute;
}

.menu .avatar {
    height: 88px;
    width: 88px;
}

.menu.menu-left * {
    font-weight: bold;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}


/* Login
==================================*/
.app-icon {
    background-color: #fff;
    background: url('../img/crown.jpg') center;
    background-size: cover;
    border-radius: 50%;
    height: 125px;
    margin: 0 auto;
    width: 125px;
}

.social-login {
    position: fixed;
    bottom: 0;
}