/* App style's */
.bar-search {
	box-shadow: none;
}

.bar {
	opacity: .9;
}

.tabs-energized-900 > .tabs {
	background-color: #ff9800;
	color: #fff;
}

.pane[state="app.search"] .bar.bar-energized,
.pane[state="app.category"] .bar.bar-energized {
	border: none;
}

.smoke-bg {
	background-color: #f0f0f0;
}

.energized-bg, .energized-bg:hover {
	background-color: #ffc900;
}

.material-bg {
	background-image: url('../img/app-bg.jpg');
}

.item-price {
	padding: 0 4px;
	background-color: #ef473a;
	color: #fff;
}

.item-marked {
	text-decoration: line-through;
	background-color: rgba(0,0,0,0.1);
}

.list.no-data .item {
	margin: auto;
	font-weight: bold;
	background: rgba(255, 255, 255, 0.4);
	text-align: center;
}

.list.no-data .item i.icon {
	position: relative;
	top: 5px;
	margin-right: 5px;
}

.list-card {
	max-width: 690px;
	margin: 0 auto;
}

.card-item {
	height: 95px;
	margin: 5px 10px;
	background-color: rgba(255,255,255,.9);
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-item:active {
	background-color: #ccc;
}

.card-item .thumbnail {
	float: left;
	position: relative;
	top: 10px;
	left: 10px;
	width: 80px;
	height: 80px;
	text-align: center;
}

.card-item .thumbnail img {
	max-width: 100%;
	max-height: 100%;
}

.card-item .item-container {
	margin-left: 95px;
	padding: 10px;
}

.card-item .item-container,
.card-item .item-container h2,
.card-item .item-container h3 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.card-item .item-container h2 {
	font-size: 100%;
	color: #e42112;
	margin: 0 0 2px 0;
}

.card-item .item-container h3 {
	font-size: 90%;
	color: #555;
	margin: 0 0 2px 0;
}

.card-item .item-container .notes {
	font-size: 80%;
	text-align: right;
}

.animate-fade-slide-in .card-item {
	visibility: hidden;
}

.animate-fade-slide-in .card-item.done {
	visibility: visible;
}

.animate-fade-slide-in .card-item {
	-webkit-transform: translateZ(0);
	-ms-transform: translate3d(-250px, 250px, 0);
	-webkit-transform: translate3d(-250px, 250px, 0);
	transform: translate3d(-250px, 250px, 0);
	-webkit-transition: -webkit-transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
	transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.animate-fade-slide-in .card-item.done {
	-ms-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.spinner-white .spinner {
	stroke: #fff;
	fill: #fff;
}

.slider {
	height: 100%;
}

.states, .slider-slide {
	padding: 20px;
	text-align: center;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	color: #fff;
}

.states p, .slider-slide p {
	font-size: 110%;
	color: #fff;
}

.states h3, .slider-slide h3, .slider-slide a, .slider-pager .slider-pager-page {
	color: #fff;
}

.slider-pager {
	bottom: 15px;
}

#logo {
	margin: 30px 0px;
}

#map {
	width: 100%;
	height: 100%;
}

/* Ionic Material override's */
.overflow-scroll {
	overflow-y: auto;
}

.bar.bar-header.expanded .title,
.expanded .bar .button {
	top: 15px;
}

.bar.item-input {
	padding: 0 10px;
}

.hero {
	height: 100%;
	max-height: 260px;
}

.hero h4 {
	color: #fff;
}

.hero .content .avatar {
	width: 96px;
	height: 96px;
}

.list-inset {
	border-left: 2px solid #ef473a;
}

.list-inset .item h2 {
	color: #e42112;
}

.item-avatar-right > img:first-child {
	top: 10px;
}

/* Menu
==================================*/
.menu-bg {
	background-image: url('../img/material-bg.jpg');
}

.menu .bar.bar-header.expanded {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.menu-open .bar.bar-header.expanded {
	background-color: #222;
}

.menu h2 {
	color: #fff;
	bottom: 0;
	font-size: 18px;
	left: 16px;
	position: absolute;
}

.menu .avatar {
	height: 88px;
	width: 88px;
}

.menu.menu-left * {
	font-weight: bold;
}

.menu-open .ion-navicon {
	-webkit-transform: rotate(-360deg);
	transform: rotate(-360deg);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
	content: "\f2ca";
}

/* Utilities
==================================*/
.title-bordered {
	border-top: solid 2px #bbb;
	padding-top: 30px;
}

p {
	color: #555;
	margin: 0 0 25px;
}

.scroll {
	height: 100%;
}

.has-expanded {
	top: 85px;
}

.icon-small:before {
	font-size: 50%;
}

.icon-large:before {
	font-size: 220% !important;
}

.icon-xlarge:before {
	font-size: 520% !important;
}
