/* App style's */
.bar-search {
    box-shadow: none;
}

.pane[state="app.search"] .bar.bar-balanced {
    border: none;
}

.price {
    color: #f44336;
}

.flame-bg {
    background-color: #f44336;
    color: #fff;
}

.card-list {
/*
    display: flex;
    flex-flow: row wrap;
    align-items: center;
*/
    margin: 0 auto;
}

.card-list .card {
    display: inline-block;
    max-width: 158px;
    vertical-align: top;
}

@media screen and (min-width: 960px) {
    .card-list { max-width: 550px; }
	.card-list .card { width: 33.3%; }
}

.card-list .card.card-gallery .title {
    position: absolute;
    bottom: 5px;
    left: 5px;
    background-color: #555;
    color: #fff;
    padding: 4px;
}

.card-list .card-header {
    padding: 5px;
}

.card-list .card-header h2, .card-list .card-header h3, .card-list .card-header h4 {
    color: #333;
    font-size: 16px;
}

.card-list .card-label {
    padding: 0 5px;
    font-size: 85%;
}

/* Ionic Material override's */
.button.button-fab.button-fab-top-right,
.button.button-fab.button-fab-top-left {
    top: 16px;
}

.bar.item-input {
    padding: 0 10px;
}

/* Utilities
==================================*/
.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #555;
    margin: 0 0 25px;
}

.scroll {
    height: 100%;
}


/* Menu
==================================*/
.menu .bar.bar-header.expanded {
    transition: all .5s ease-in-out;
}

.menu-open .bar.bar-header.expanded {
    background-color: #222;
}

.menu h2 {
    bottom: 0;
    font-size: 18px;
    left: 16px;
    position: absolute;
}

.menu .avatar {
    height: 88px;
    width: 88px;
}

.menu.menu-left * {
    font-weight: bold;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}


/* Login
==================================*/
.app-icon {
    background-color: #fff;
    background: url('../img/crown.jpg') center;
    background-size: cover;
    border-radius: 50%;
    height: 125px;
    margin: 0 auto;
    width: 125px;
}

.social-login {
    position: fixed;
    bottom: 0;
}