<ion-view view-title="Lançamentos">
    <ion-nav-bar class="bar-calm">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-plus-round" ng-click="newItem()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="list">
            <div class="item" ng-if="despesas.data.length === 0">
                Toque <i class="icon ion-plus-round"></i> para incluir...
            </div>
            <div class="item" collection-repeat="item in despesas.data | orderBy:['-ano','-mes','-dia']" on-double-tap="menu.openMenu(item, $event)">
                <h2>
                    {{getDate(item) | date:'dd/MM/yyyy'}}
                    <span class="item-right">{{item.valor | currency:'R$'}}</span>
                </h2>
                <div class="item-set">
                    <div class="marcadores">
                        <span class="marcador bg-gray" ng-repeat="marcador in item.marcadores track by $index">
                            {{marcadores.getById(marcador).descricao}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <ojs-popover name="menu" template="./app/templates/popovermenu.html"></ojs-popover>
    </ion-content>
</ion-view>