<ion-view view-title="Despesas">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-plus-round" ng-click="novoItem()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="list">
            <div class="item" ng-if="despesas.data.length === 0">
                Toque <i class="icon ion-plus-round"></i> para incluir...
            </div>
            <div class="item" collection-repeat="item in despesas.data">
                {{item.valor}}
            </div>
        </div>
        <popover-menu name="menu" template="./app/templates/popovermenu.html"></popover-menu>
    </ion-content>
</ion-view>