<ion-view view-title="{{marcador}}">
    <ion-nav-bar class="bar-calm">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="list card" ng-if="!despesas.length">
            <div class="item item-icon-left">
                <i class="icon ion-alert-circled"></i>
                Nenhuma despesa
            </div>
        </div>
        <div class="list">
            <div ng-repeat="item in despesas | limitTo:limitData">
                <div class="item item-divider" ng-if="$index === 0 || item.mes !== despesas[$index-1].mes">
                    {{$root.listaMes[item.mes]}}
                    <span class="item-right">{{getTotal(item.ano, item.mes) | currency:'R$'}}</span>
                </div>
                <div class="item">
                    {{getDate(item) | date:'dd/MM/yyyy'}}
                    <span class="item-right">{{item.valor | currency:'R$'}}</span>
                </div>
            </div>
        </div>
        <ion-infinite-scroll ng-if="despesas.length > limitData" on-infinite="loadMore()" distance="5%"></ion-infinite-scroll>
    </ion-content>
</ion-view>