<ion-view view-title="{{marcador}}">
    <ion-nav-bar class="bar-calm">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="list card" ng-if="!despesas.length">
            <div class="item item-icon-left">
                <i class="icon ion-alert-circled"></i>
                Nenhuma despesa
            </div>
        </div>
        <div class="list">
        <div collection-repeat="item in despesas | groupByMonthYear:'mes':'ano':'valor'" divider-month-repeat show-total>
                <div class="item teste">
                    {{getDate(item) | date:'dd/MM/yyyy'}}
                    <span class="item-right">{{item.valor | currency:'R$'}}</span>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>